/* testing image layout */
.tiny,
.bigger,
.biggest {
  background-color: var(--blue-color);
  margin: 0.5em;
  padding: 0.5em;
  width: fit-content;
}

.bigger {
  padding: 1.5em;
}

.biggest {
  padding: 4em;
}

.inner {
  margin: 0.5em;
  align-items: inherit;
}

.pattern-header {
  display: flex;
  margin: 1em;
}

.pattern-title-author {
  padding-right: 1em;
  border-right: 0.2em solid var(--wheat-border);
}

.pattern-title {
  font-size: 2em;
  text-decoration: underline;
}

.pattern-author {
  margin-left: 1em;
  font-style: italic;
}

/* pattern select popup */

.select-pattern-button {
  margin-left: 1em;
  font-size: 1.2em;
}

.select-pattern-popup {
  font-size: 1.5em;
}

.select-pattern {
  margin-bottom: -0.6em;
}

.select-pattern .pattern-title,
.select-pattern .pattern-author {
  text-decoration: none;
  font-style: normal;
}

.pattern-body {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

.pattern-info {
  margin: 0 1em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  height: fit-content;
  border-right: 0.5em solid var(--wheat-border);
}

.pattern-info .inner {
  padding-top: 1em;
  margin-top: -0.5em;
}

.collapse:before{
  margin-right: 0.5em;
  content:'\2630';
}

.collapse {
  position: relative;
  padding: 0.5em 1em 0.5em 0.5em;
  margin-top: 0.5em;
  background-color: var(--blue-color);
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  border-radius: 0.5em;
  cursor: pointer;
}

.collapse:hover {
  opacity: 0.8;
}

.collapse.active {
  background-color: var(--purple-color);
}

.materials-list {
  flex-direction: row;
  column-gap: 3em;
}

.hooks-mini,
.yarns-mini,
.glossary-list {
  display: grid;
  align-items: center;
  justify-content: center;
}

.hook-mini-item {
  width: max-content;
}

.yarn-mini-item {
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
}

.yarn-mini-item * {
  margin-right: 0.5em;
}

.glossary-list {
  justify-content: start;
}

.glossary-mini-item {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.glossary-mini-item * {
  margin-right: 1em;
}

.pattern-steps {
  width: 100%;
  display: flex;
}

.pattern-steps .inner {
  width: 100%;
  height: fit-content;
}

.counters {
  min-width: fit-content;
  font-size: 1.2em;
  font-weight: bold;
}

.step-list {
  font-size: 1.2em;
}

.step-in-use-item {
  display: grid;
  padding: 0.5em;
}

.step-in-use-item .step-rows {
  font-weight: bold;
}