.inner {
  margin: 0.5em;
  align-items: inherit;
}

.pattern-header {
  display: flex;
  margin: 1em;
}

.pattern-title-author {
  padding-right: 1em;
  border-right: 0.2em solid var(--wheat-border);
}

.pattern-title {
  font-size: 2em;
  text-decoration: underline;
}

.pattern-author {
  margin-left: 1em;
  font-style: italic;
}

/* pattern select popup */

.select-pattern-button {
  margin-left: 1em;
  font-size: 1.2em;
}

.select-pattern-popup {
  font-size: 1.5em;
}

.select-pattern {
  margin-bottom: -0.6em;
}

.select-pattern .pattern-title,
.select-pattern .pattern-author {
  text-decoration: none;
  font-style: normal;
}

.pattern-body {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

.pattern-info {
  max-width: 35%;
  margin: 0 1em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  height: fit-content;
  border-right: 0.5em solid var(--wheat-border);
}

.pattern-info .inner {
  padding-top: 1em;
  margin-top: -0.5em;
}

.collapse:before {
  margin-right: 0.5em;
  content: '\2630';
}

.collapse {
  position: relative;
  padding: 0.5em 1em 0.5em 0.5em;
  margin-top: 0.5em;
  background-color: var(--blue-color);
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  border-radius: 0.5em;
  cursor: pointer;
}

.collapse:hover {
  opacity: 0.8;
}

.collapse.active {
  background-color: var(--purple-color);
}

.materials-list {
  flex-direction: row;
  column-gap: 3em;
}

.hooks-mini,
.yarns-mini,
.glossary-list {
  display: grid;
  align-items: center;
  justify-content: center;
}

[class*="mini-item"]>* {
  margin-right: 0.5em;
}

.hook-mini-item {
  white-space: nowrap;
}

.yarn-mini-item {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
}

.yarn-mini-item.active {
  background-color: var(--active-yarn-color);
  border-radius: 1em;
}

.yarn-qty {
  white-space: nowrap;
}

.glossary-list {
  justify-content: start;
}

.glossary-mini-item {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.glossary-mini-item.active {
  background-color: var(--active-glossary-color);
  border-radius: 1em;
}

.pattern-steps {
  width: 100%;
  display: flex;
}

.pattern-steps .inner {
  width: 100%;
  height: fit-content;
}

.counters {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 1.2em;
  font-weight: bold;
}

.section-counter,
.row-counter {
  display: flex;
  align-items: center;
  margin-bottom: -0.2em;
}

.save-status {
  margin-right: 1em;
  font-size: 0.8em;
  font-weight: normal;
  opacity: 0.5;
}

.step-list {
  font-size: 1.2em;
}

.step-in-use-item {
  display: grid;
  padding: 0.5em;
}

.step-in-use-item .step-rows {
  font-weight: bold;
}

.step-in-use-item .step-image {
  text-align: center;
}

[class$="annotation"] {
  position: relative;
  cursor: pointer;
}

.yarn-annotation {
  color: var(--dark-blue-color);
}

.glossary-annotation {
  color: var(--link-color);
}

[class$="annotation"]:hover {
  text-decoration: underline;
}

[class$="annotation"] .tooltip {
  position: absolute;
  font-size: 0.8em;
  top: -1.8em;
  left: -0.5em;
  padding: 0.2em;
  border: 0.2em solid var(--wheat-border);
  border-radius: 0.5em;
  background-color: antiquewhite;
  color: black;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
}

[class$="annotation"]:hover .tooltip {
  opacity: 1;
}