main {
  padding: 0;
}

.pattern-body h1 {
  margin: 0;
}

.hooks {
  margin-bottom: 0;
}

.yarns {
  margin: 0;
}

.pattern-body,
.section-heading {
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
}

.pattern-options {
  font-size: 1.2em;
  margin: 1em;
  display: flex;
  justify-content: space-around;
}

.pattern-options-form {
  font-size: 1.2em;
}

.pattern-options .pattern-desc {
  min-height: 3em;
}

.load-pattern-options {
  font-size: 1.25em;
  width: 45%;
}

.pattern-options-heading {
  margin: 1rem;
}

.pattern-body {
  font-size: 1.2em;
  background-color: antiquewhite;
  border-width: 0.5rem 0 0 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.pattern-body .hook-size-button,
.pattern-body select,
.pattern-body input,
.pattern-body textarea {
  font-size: 1rem;
}

.pattern-body input {
  flex-grow: 1;
}

.selected {
  font-weight: bold;
  background-color: var(--purple-color);
}

.row-input {
  max-width: 4em;
}

.options-input {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 1em;
}

.options-input textarea,
.options-input select {
  margin-top: -0.2em;
  margin-left: 2em;
}

[class$="container"] {
  max-width: 80%;
}

.hook-types-grid {
  display: grid;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
  grid-template-columns: repeat(10, 3.5em);
  column-gap: 0;
}

.yarn-input-grid,
.yarn-list-item {
  grid-template-columns: 5em 2fr auto auto auto;
}

.yarn-input-grid select,
.yarn-list select {
  max-width: 6em;
}

.glossary-input-grid,
.glossary-list-item {
  grid-template-columns: 5em 1fr 2fr auto;
}

.glossary-term {
  font-weight: bold;
}

.notes-input-grid {
  grid-template-columns: 5em 1fr;
}

.notes-input {
  flex-direction: column;
}

.notes-input textarea {
  font-size: 1.2em;
  min-height: 5em;
}

.step-input-grid,
.step-list-item {
  min-width: 20em;
  grid-template-columns: 5em auto 1fr auto;
}

.step-list-item {
  grid-template-columns: auto 5em auto 1fr auto;
  margin: 0;
}

.row-index-error {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--invalid-color);
}

.section-grid {
  display: grid;
}

.section-heading {
  font-weight: bold;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.section-heading button {
  background-color: var(--purple-color);
}

.step-start,
.step-between {
  padding: 0.5em 0;
}

.step-rows-input {
  white-space: nowrap;
}

.drag-icon {
  padding: 0.5em;
  margin: -0.5em;
  font-size: 1.2em;
}

.drag-icon:hover {
  cursor: grab;
}

.dragging {
  opacity: 0.6;
}

.drag-over {
  padding: 2em 1em;
}

.step-list-item.drag-over {
  padding: 1.5em 1em;
  opacity: 0.6;
}

.step-input-grid {
  margin-bottom: 1em;
  border: 0.2em solid var(--wheat-border);
  border-radius: 1em;
}

.steps .add-section-button {
  font-size: 1em;
  width: 100%;
}

.submit-container button,
.submit-container .submit-button {
  font-size: 1em;
  padding: 1em;
  margin: 1em;
}

.save-button .pattern-name {
  margin: 0;
  padding: 0;
}

.submit-button {
  padding: 1em;
  text-decoration: none;
  background-color: var(--blue-color);
  color: inherit;
  border: none;
  border-radius: 0.35em;
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.8;
}

.submit-button:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

.submit-alert {
  color: var(--invalid-color);
}