main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

main h1 {
  margin: 0.25em;
}

.preview-display {
  font-size: 1.25em;
}

.inner {
  padding: 2em;
  align-items: start;
}

.basic-info {
  width: 100%;
  text-align: center;
}

.pattern-title {
  font-size: 2em;
  text-decoration: underline;
}

.pattern-author .author {
  font-style: italic;
}

[class$="images"] * {
  display: inline-block;
}

.materials-preview h2 {
  margin-bottom: 0;
}

.hook-preview {
  margin-top: 0.5em;
}

.hook-preview-item {
  display: inline-block;
  margin-right: 1em;
  padding: 0.5em;
  background-color: wheat;
  border: 0.2em solid var(--wheat-border);
  border-radius: 0.35em;
  white-space: nowrap;
}

.yarn-preview {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
  align-items: center;
}

.yarn-preview-item *,
.glossary-preview-item * {
  display: inline-block;
}

.glossary-term,
.step-rows {
  font-weight: bold;
  margin-right: 0.5em;
}

.notes-preview,
.steps-preview {
  padding: 0 1em;
}

.section-heading {
  font-weight: bold;
}

.section-preview-item {
  margin-bottom: 1em;
}

.step-preview-item {
  margin: 1em 0;
}

.preview-options h1 {
  margin-left: 0;
}

.export-pattern {
  margin-right: 0.75em;
  padding-bottom: 1em;
  border-bottom: 0.35em solid var(--wheat-border);
}

.export-pattern h2 {
  margin: 0;
}

.export-pattern button {
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.8em;
}

.other-options {
  display: flex;
  padding-top: 1em;
}

.use-pattern {
  font-weight: bold;
}

.use-pattern,
.return-to-generator {
  margin: 0.5em;
}

.use-pattern-button,
.return-to-generator-button {
  display: inline-block;
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
  background-color: var(--blue-color);
  color: inherit;
  border: none;
  border-radius: 0.35em;
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

.use-pattern:hover,
.return-to-generator:hover {
  opacity: 0.8;
}

.use-pattern-button:active,
.return-to-generator-button:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

@page {
  /* remove link/timestamp in margins */
  margin: 0;
}

/* todo: make images bigger for export */
@media print {

  header,
  .sidebar,
  .preview-heading,
  .preview-options {
    display: none;
  }

  main {
    display: block;
    margin: 0;
  }

  .inner {
    display: block;
  }

  h2,
  .section-heading {
    margin-top: 0;
    padding-top: 1em;
    page-break-before: auto;
    break-before: auto;
  }

  .section-heading {
    margin-top: -1em;
  }

  [class*="preview-item"],
  .notes-preview-container {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .step-list {
    /* remove scrollbars */
    max-height: none;
    display: block;
    page-break-inside: auto;
    page-break-after: auto;
    break-inside: auto;
    break-after: auto;
  }
}