main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

main h1 {
  margin: 0.25em;
}

.preview-display {
  font-size: 1.25em;
}

.inner {
  padding: 2em;
  align-items: start;
}

[class$="preview-item"] {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 0.3em solid var(--wheat-border);
}

.first[class$="preview-item"] {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

[class$="preview-item"] * {
  display: inline-block;
}

.basic-info {
  width: 100%;
  text-align: center;
}

.pattern-title {
  font-size: 2em;
  text-decoration: underline;
}

.pattern-author .author {
  font-style: italic;
}

.materials-preview h2 {
  margin-bottom: 0;
}

.hook-preview {
  display: flex;
  flex-wrap: wrap;
}

.hook-preview-item {
  margin-right: 1em;
  padding: 0.5em;
  background-color: wheat;
  border: 0.2em solid var(--wheat-border);
  border-radius: 0.35em;
  white-space: nowrap;
}

.yarn-image,
.glossary-image {
  margin-right: 1em;
}

.glossary-term,
.step-rows {
  font-weight: bold;
  margin-right: 0.5em;
}

.notes-preview,
.steps-preview {
  margin-left: 1em;
}

.section-heading {
  font-weight: bold;
  margin-bottom: 1em;
}

.section-preview-item {
  margin-top: 2em;
}

.first.section-preview-item {
  margin: 0;
}

.step-preview-item {
  border: none;
}

.step {
  display: block;
}

.preview-options h1 {
  margin-left: 0;
}

.export-pattern {
  margin-right: 0.75em;
  padding-bottom: 1em;
  border-bottom: 0.35em solid var(--wheat-border);
}

.export-pattern h2 {
  margin: 0;
}

.export-pattern button {
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.8em;
}

.other-options {
  display: flex;
  padding-top: 1em;
}

.use-pattern {
  font-weight: bold;
}

.use-pattern,
.return-to-generator {
  margin: 0.5em;
}

.use-pattern-button,
.return-to-generator-button {
  display: inline-block;
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
  background-color: var(--blue-color);
  color: inherit;
  border: none;
  border-radius: 0.35em;
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

.use-pattern:hover,
.return-to-generator:hover {
  opacity: 0.8;
}

.use-pattern-button:active,
.return-to-generator-button:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

/* todo: fix borders/margins in printed pages */
@media print {

  header,
  .sidebar,
  .preview-heading,
  .preview-options {
    display: none;
  }

  main {
    display: block;
    padding: 0;
    margin: 0;
  }

  .inner {
    display: block;
  }

  [class$="preview-container"],
  .step-preview-item {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .steps-preview-container {
    margin-top: 1cm;
    page-break-inside: auto;
    break-inside: auto;
  }

  .step-list {
    display: block;
  }
}