body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.is-hidden {
  display: none !important;
}

header {
  font-size: large;
}

main {
  margin-top: 20px;
}

header,
main {
  box-shadow: 3px 3px rgba(130, 210, 230, 1);
}

header,
main,
.pattern-options,
.heading {
  background-color: wheat;
  border: 3px solid rgb(235, 210, 155);
}

.pattern-options {
  border-width: 0 0 2px 0;
}

header,
.pattern-options,
.pattern-body {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.pattern-options,
.pattern-body {
  flex-direction: column;
  align-items: center;
}

.pattern-body,
.inner {
  background-color: antiquewhite;
}

select,
button {
  border: none;
  padding: 6px;
  cursor: pointer; 
  background-color: rgba(130, 210, 230, 0.5);
}

button:hover,
select:hover {
  background-color: rgba(130, 210, 230, 0.8);
}

.selected {
  background-color: rgba(130, 210, 230, 1);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}

.options-container,
.options-input {
  display: flex;
}

.options-container {
  flex-direction: column;
}

.options-input {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: large;
  padding: 10px;
  margin: 10px 0;
}

.hooks,
.yarns {
  font-size: 18px;
}
 
/* a[type="number"] {
  max-width: 40px;
} */

.inner {
  font-size: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.glossary-term {
  font-weight: bold;
}