:root {
  --top: 1em;
  --blue-color: rgb(140, 215, 235);
  --purple-color: rgb(160, 185, 235);
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.is-hidden {
  display: none !important;
}

.page-content {
  margin-top: var(--top);
}

main {
  margin-left: 9.5em;
}

.sidebar {
  font-size: 1.5em;
  width: 5em;
  position: absolute;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  margin: 0.5em;
  text-decoration: none;
  border-radius: 15%;
  color: inherit;
}

.sticky {
  top: var(--top);
  position: fixed;
}

header,
main,
.sidebar {
  box-shadow: 0.4rem 0.4rem var(--blue-color);
}

header,
main,
.sidebar,
.heading,
.pattern-body {
  background-color: wheat;
  border: 0.5rem solid rgb(235, 210, 155);
  border-radius: 0.5rem;
}

.pattern-body {
  border-width: 0.5rem 0 0 0;
  border-radius: 0;
}

header,
.pattern-options,
.pattern-body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-repo img {
  background-color: white;
  padding: 0.2rem;
  border-radius: 100%;
}

.pattern-body,
.inner {
  background-color: antiquewhite;
}

select,
button,
.sidebar a {
  border: none;
  padding: 0.5em;
  cursor: pointer;
  background-color: var(--blue-color);
  box-shadow: -0.2em -0.2em inset rgba(0, 0, 0, 0.15);
}

button:hover,
select:hover,
.sidebar a:hover {
  opacity: 0.8;
}

button:active,
.sidebar a:active {
  box-shadow: -0.1em -0.1em inset rgba(0, 0, 0, 0.15);
}

.selected {
  font-weight: bold;
  background-color: var(--purple-color);
}

.pattern-options {
  font-size: 2rem;
}

.options-container,
.options-input {
  display: flex;
  font-size: 0.8em;
}

.options-container {
  flex-direction: column;
}

.options-input {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 2rem;
  padding: 0.5em;
  margin: 0.2em 0;
}

.hooks,
.yarns {
  font-size: 0.75em;
}

.inner {
  font-size: 0.6em;
  margin: 0.5em 0;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
}

.hook-list,
.yarn-list,
.glossary-list,
.step-list {
  display: flex;
  flex-direction: column;
}

.hook-types-grid,
.yarn-input-grid,
.yarn-list-item,
.glossary-input-grid,
.glossary-list-item,
.step-input-grid,
.step-list-item {
  display: grid;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
}

.hook-types-grid {
  grid-template-columns: repeat(10, 1fr);
  column-gap: 0;
}

.yarn-input-grid,
.yarn-list-item {
  grid-template-columns: 1fr 1fr 1fr 2em;
}

.yarn-input-grid select,
.yarn-list select {
  max-width: 7em;
}

.glossary-input-grid,
.glossary-list-item,
.step-input-grid,
.step-list-item {
  grid-template-columns: 1fr 1fr 2em;
}

.glossary-term {
  font-weight: bold;
}

.yarn-list-item,
.glossary-list-item,
.step-list-item {
  left: 50%;
  margin: 0.5em 0;
  background-color: wheat;
  border-radius: 2%/20%;
}

.submit-button {
  width: 5rem;
  font-size: 1rem;
  padding: 1rem;
}