h1,
h2 {
  font-weight: normal;
}

h1 {
  margin: 0.5em 0;
}

.pattern-body,
.section-heading {
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
}

.pattern-options {
  font-size: 1.2em;
  margin: 1em;
  display: flex;
  justify-content: space-around;
}

.pattern-options-heading,
.pattern-body {
  padding: 1.25rem;
}

.pattern-body {
  font-size: 1.2em;
  background-color: antiquewhite;
  border-width: 0.5rem 0 0 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

input,
select,
button,
.submit-button {
  font-size: 0.8em;
  border-radius: 0.35em;
}

select,
button,
.submit-button {
  padding: 0.5em;
  border: none;
  background-color: var(--blue-color);
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

button:hover,
select:hover,
.submit-button:hover,
.close-button:hover {
  opacity: 0.8;
}

button:active,
select:focus,
.submit-button:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

.load-pattern-alert {
  padding: 0.2em;
  color: var(--invalid-color);
  display: flex;
  align-items: center;
}

[class*="confirm"],
[class*="delete"],
.image-attach {
  font-weight: bold;
}

.selected {
  font-weight: bold;
  background-color: var(--purple-color);
}

input {
  padding: 0.35em;
  margin: 0.35em;
  border: 2px solid transparent;
}

input[type="number"],
.row-input {
  max-width: 4em;
}

input:invalid:focus {
  border: 2px solid var(--invalid-color);
}

.options-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.options-input * {
  margin: 0.5em 1em;
}

[class$="container"] {
  max-width: 80%;
}

/* TODO: custom scrollbar with discrete 'resting points'?
also see https://lea.verou.me/2012/04/background-attachment-local/ */
[class$="list"] {
  max-height: 23em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.hook-types-grid,
[class$="list-item"],
[class$="input-grid"] {
  display: grid;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
}

[class$="list-item"] {
  margin: 0.5em 0;
  background-color: wheat;
  border-radius: 1em;
  box-shadow: -0.2em -0.2em inset var(--purple-color);
}

[class$="list-item"] * {
  overflow: hidden;
  overflow-wrap: break-word;
}

[class$="list-item"] button,
[class$="list-item"] select {
  background-color: var(--purple-color);
}

.pattern-list-item {
  grid-template-columns: 1fr 1fr 4em 2em;
}

.hook-types-grid {
  grid-template-columns: repeat(10, 3.5em);
  column-gap: 0;
}

.yarn-input-grid,
.yarn-list-item {
  grid-template-columns: 5em 1fr 1fr 1fr 2em;
}

.yarn-input-grid select,
.yarn-list select {
  max-width: 7em;
}

.glossary-input-grid,
.glossary-list-item {
  grid-template-columns: 5em 1fr 1fr 2em;
}

.glossary-term,
.pattern-title {
  font-weight: bold;
}

.notes-input-grid {
  grid-template-columns: 5em 1fr;
}

.step-input-grid,
.step-list-item {
  grid-template-columns: 5em 1fr 1fr 2em;
}

.step-index-error {
  font-weight: bold;
  color: var(--invalid-color);
}

.section-grid {
  display: grid;
}

.section-heading {
  font-weight: bold;
  padding: 0.5em;
}

.add-section-button {
  font-size: 1em;
  width: 100%;
}

.submit-container * {
  font-size: 1em;
  padding: 1em;
  margin: 1em;
}

.submit-button {
  text-decoration: none;
  color: inherit;
}