body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.is-hidden {
  display: none;
}

header,
.pattern-select,
.pattern-body {
  padding: 20px;
  display: flex;
  justify-content: center;
}

header {
  background-color: wheat;
  color: black;
  font-size: large;
}

main {
  margin-top: 20px;
}

select {
  background-color: rgba(130, 210, 230, 0.65);
  border: none;
  padding: 5px;
}

button {
  border: none;
  background-color: rgba(130, 210, 230, 0.4);
  padding: 6px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(130, 210, 230, 0.75);
}

.selected {
  background-color: rgba(130, 210, 230, 1);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}

.pattern-select {
  background-color: wheat;
}

.pattern-select label {
  margin-right: 10px;
}

.pattern-body {
  background-color: antiquewhite;
  flex-direction: column;
  align-items: center;
}

.heading {
  background-color: wheat;
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
}

.hooks,
.yarns {
  font-size: 18px;
}

a[type="number"] {
  max-width: 40px;
}

.inner {
  background-color: antiquewhite;
  font-size: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}