.pattern-body,
.section-heading {
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
}

.pattern-options {
  font-size: 1.2em;
  margin: 1em;
  display: flex;
  justify-content: space-around;
}

.pattern-options-form {
  font-size: 1.2em;
}

.load-pattern-options {
  width: 45%;
}

.pattern-options-heading,
.pattern-body {
  padding: 1.25rem;
}

.pattern-body {
  font-size: 1.2em;
  background-color: antiquewhite;
  border-width: 0.5rem 0 0 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.selected {
  font-weight: bold;
  background-color: var(--purple-color);
}

.row-input {
  max-width: 4em;
}

.options-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.options-input * {
  margin: 0.5em 1em;
}

[class$="container"] {
  max-width: 80%;
}

.hook-types-grid {
  display: grid;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
  grid-template-columns: repeat(10, 3.5em);
  column-gap: 0;
}

.yarn-input-grid,
.yarn-list-item {
  grid-template-columns: 5em 1fr 1fr 1fr 2em;
}

.yarn-input-grid select,
.yarn-list select {
  max-width: 7em;
}

.glossary-input-grid,
.glossary-list-item {
  grid-template-columns: 5em 1fr 1fr 2em;
}

.glossary-term,
.pattern-title {
  font-weight: bold;
}

.notes-input-grid {
  grid-template-columns: 5em 1fr;
}

.step-input-grid,
.step-list-item {
  grid-template-columns: 5em 1fr 1fr 2em;
}

.row-index-error {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--invalid-color);
}

.section-grid {
  display: grid;
}

.section-heading {
  font-weight: bold;
  padding: 0.5em;
}

.add-section-button {
  font-size: 1em;
  width: 100%;
}

.submit-container * {
  font-size: 1em;
  padding: 1em;
  margin: 1em;
}

.submit-button {
  padding: 1em;
  text-decoration: none;
  background-color: var(--blue-color);
  color: inherit;
  border: none;
  border-radius: 0.35em;
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.8;
}

.submit-button:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

.submit-alert {
  color: var(--invalid-color);
}