header,
main {
  box-shadow: 0.4rem 0.4rem var(--blue-color);
}

header,
main,
.heading,
.pattern-body,
.section-heading {
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
}

header,
.pattern-options,
.inner {
  align-items: center;
}

.pattern-body {
  border-width: 0.5rem 0 0 0;
  border-radius: 0;
}

header,
.pattern-options,
.pattern-body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.github-repo img {
  padding: 0.2rem;
  background-color: white;
  border-radius: 100%;
}

.pattern-body,
.inner {
  background-color: antiquewhite;
}

select,
button {
  padding: 0.5em;
  border: none;
  background-color: var(--blue-color);
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

button:hover,
select:hover {
  opacity: 0.8;
}

button:active,
select:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

[class*="confirm"],
[class*="delete"],
.image-attach {
  font-size: 0.8em;
  font-weight: bold;
}

.selected {
  font-weight: bold;
  background-color: var(--purple-color);
}

input {
  padding: 0.35em;
  margin: 0.35em;
  border: 2px solid transparent;
}

input,
select,
button {
  font-size: 0.8em;
  border-radius: 0.35em;
}

input[type="number"],
.row-input {
  max-width: 4em;
}

input:invalid:focus {
  border: 2px solid var(--invalid-color);
}

.pattern-options {
  font-size: 2rem;
}

.options-container,
.options-input {
  display: flex;
  font-size: 0.8em;
}

.options-container {
  flex-direction: column;
}

.options-input {
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.options-input * {
  margin: 0.5em 1em;
}

.heading {
  font-size: 2rem;
  padding: 0.5em;
  margin: 0.5em;
}

.hooks,
.yarns {
  font-size: 0.75em;
}

.inner {
  font-size: 0.6em;
  margin: 0.5em 0;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
}

[class$="container"] {
  max-width: 80%;
}

/* TODO: custom scrollbar with discrete 'resting points'?
also see https://lea.verou.me/2012/04/background-attachment-local/ */
[class$="list"] {
  max-height: 23em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.hook-types-grid,
[class$="list-item"],
[class$="input-grid"] {
  display: grid;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
}

.hook-types-grid {
  grid-template-columns: repeat(10, 3.5em);
  column-gap: 0;
}

.yarn-input-grid,
.yarn-list-item {
  grid-template-columns: 5em 1fr 1fr 1fr 2em;
}

.yarn-input-grid select,
.yarn-list select {
  max-width: 7em;
}

.glossary-input-grid,
.glossary-list-item {
  grid-template-columns: 5em 1fr 1fr 2em;
}

.glossary-term {
  font-weight: bold;
}

.notes-input-grid {
  grid-template-columns: 5em 1fr;
}

.step-input-grid,
.step-list-item {
  grid-template-columns: 5em 1fr 1fr 2em;
}

.step-index-error {
  font-weight: bold;
  color: var(--invalid-color);
}

.section-grid {
  display: grid;
}

.section-heading {
  font-weight: bold;
  padding: 0.5em;
}

[class$="list-item"] {
  margin: 0.5em 0;
  background-color: wheat;
  border-radius: 1em;
  box-shadow: -0.2em -0.2em inset var(--purple-color);
}

[class$="list-item"] *,
.result {
  overflow: hidden;
  overflow-wrap: break-word;
}

[class$="list-item"] button,
[class$="list-item"] select {
  background-color: var(--purple-color);
}

.add-section-button {
  width: 100%;
  font-size: 0.9em;
}

.submit-button {
  font-size: 1em;
  padding: 1em;
}