:root {
  --bg-color: rgb(215, 230, 235);
  --blue-color: rgb(140, 215, 235);
  --light-purple-color: rgb(210, 215, 240);
  --purple-color: rgb(160, 185, 235);
  --wheat-border: rgb(235, 200, 135);
  --shadow-color: rgba(0, 0, 0, 0.15);
  --invalid-color: rgb(220, 0, 0);
  --link-color: rgb(80, 80, 200);
}

body {
  background-color: var(--bg-color);
}

body * {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden {
  display: none !important;
}

.no-highlight {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main {
  padding: 0.5em;
  margin-left: 9.5em;
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem var(--blue-color);
}

h1,
h2 {
  font-weight: normal;
}

.heading {
  padding: 1em;
  margin: 1em;
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.inner {
  margin: 1em;
  padding: 0.75em;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
select,
input,
textarea {
  font-size: 0.8em;
  border-radius: 0.35em;
}

select,
input,
textarea {
  margin: 0.5em;
}

button,
select {
  padding: 0.5em;
  border: none;
  background-color: var(--blue-color);
  cursor: pointer;
}

button {
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
}

select {
  border-bottom: 0.2em solid var(--shadow-color);
}

button:hover,
select:hover {
  opacity: 0.8;
}

button:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

input,
textarea {
  border: none;
  border-bottom: 0.2em solid var(--wheat-border);
}

input:invalid:focus,
textarea:invalid:focus {
  border-bottom: 0.2em solid var(--invalid-color);
}

textarea {
  padding: 0.5em 0.5em 0 0.5em;
  resize: none;
  overflow-y: hidden;
}

input {
  padding: 0.35em;
}

input[type="number"] {
  max-width: 4em;
}

[class*="confirm-button"],
[class*="delete-button"] {
  font-size: 1em;
  font-weight: bold;
}

[class*="delete-button"] {
  font-size: 1.6rem;
  padding: 0.35rem;
  background-color: transparent !important;
  color: var(--invalid-color);
  box-shadow: none;
  cursor: pointer;
}

[class*="delete-button"]:hover {
  opacity: 0.5;
}

[class*="delete-button"]:active {
  opacity: 0.2;
  box-shadow: none;
}

.delete-confirm {
  font-weight: normal;
  margin-right: 0.5em;
  font-size: 0.8em;
}

.image-upload {
  font-weight: bold;
}

/* TODO: custom scrollbar with discrete 'resting points'?
also see https://lea.verou.me/2012/04/background-attachment-local/ */
[class$="list"] {
  max-height: 24em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

[class*="list-item"] {
  margin-top: 0.5em;
  background-color: wheat;
  border-radius: 1em;
  box-shadow: -0.2em -0.2em inset var(--purple-color);
}

[class*="list-item"],
[class$="input-grid"] {
  display: grid;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
}

[class$="input-grid"] * {
  display: flex;
  align-items: center;
}

[class*="list-item"] * {
  overflow: hidden;
  overflow-wrap: break-word;
}

[class*="list-item"] button,
[class*="list-item"] select {
  background-color: var(--purple-color);
}

[class$='image-display'] {
  display: flex;
  /* todo: deleting images doesn't reset wrapping? */
  flex-wrap: wrap;
  align-items: center;
}

.image-mini,
.image-preview,
.image-bigger {
  position: relative;
  padding: 0.5em;
}

.image-mini img,
.image-preview img,
.image-bigger img {
  vertical-align: middle;
  background-color: antiquewhite;
  border: 0.2em solid var(--wheat-border);
  border-radius: 1em;
}

.image-mini img {
  max-width: 3em;
}

.image-preview img {
  max-width: 10em;
}

.image-bigger img {
  padding: 1em;
  max-width: 25em;
}

.delete-image {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  padding: 0 0.333em;
  line-height: 1.2em;
  background-color: var(--invalid-color);
  color: white;
  border-radius: 1em;
  cursor: pointer;
}

.delete-image:hover {
  opacity: 0.6;
}

.delete-image:active {
  opacity: 0.2;
}