:root {
  --blue-color: rgb(140, 215, 235);
  --purple-color: rgb(160, 185, 235);
  --wheat-border: rgb(235, 200, 135);
  --shadow-color: rgba(0, 0, 0, 0.15);
  --invalid-color: rgb(220, 0, 0);
}

body * {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.is-hidden {
  display: none !important;
}

.page-content {
  margin-top: 1em;
}

main {
  padding: 0.5em;
  margin-left: 9.5em;
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem var(--blue-color);
}

h1,
h2 {
  font-weight: normal;
}

.heading {
  padding: 1em;
  margin: 1em;
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.inner {
  margin: 1em;
  padding: 0.75em;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
button {
  font-size: 0.8em;
  border-radius: 0.35em;
}

button,
select {
  padding: 0.5em;
  border: none;
  background-color: var(--blue-color);
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

button:hover,
select:hover {
  opacity: 0.8;
}

button:active,
select:focus {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

input {
  padding: 0.35em;
  margin: 0.35em;
  border: 2px solid transparent;
}

input[type="number"] {
  max-width: 4em;
}

input:invalid:focus {
  border: 2px solid var(--invalid-color);
}

[class*="confirm"],
[class*="delete"],
.image-attach {
  font-weight: bold;
}

/* TODO: custom scrollbar with discrete 'resting points'?
also see https://lea.verou.me/2012/04/background-attachment-local/ */
[class$="list"] {
  max-height: 23em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

[class$="list-item"] {
  margin: 0.5em 0;
  background-color: wheat;
  border-radius: 1em;
  box-shadow: -0.2em -0.2em inset var(--purple-color);
}

[class$="list-item"],
[class$="input-grid"] {
  display: grid;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
}

[class$="list-item"] * {
  overflow: hidden;
  overflow-wrap: break-word;
}

[class$="list-item"] button,
[class$="list-item"] select {
  background-color: var(--purple-color);
}