header {
  margin-bottom: 1em;
  padding: 1.25rem;
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem var(--blue-color);
  display: flex;
  align-items: center;
}

header h1 {
  margin-right: 1em;
}

.navbar {
  background-color: antiquewhite;
  border-radius: 1em;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar ul li {
  padding: 0.5em;
  border-right: 0.2em solid var(--shadow-color);
}

.navbar ul li.last {
  border: none;
}

.navbar ul li a {
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.navbar ul li a:hover {
  opacity: 0.6;
}

.github-repo img {
  padding: 0.2em;
  background-color: white;
  vertical-align: middle;
  border-radius: 100%;
}