main {
  display: flex;
}

.preview-display {
  font-size: 1.25em;
}

.preview-heading {
  margin: 0.25em;
  font-size: 2rem;
}

.inner {
  padding: 2em;
  align-items: start;
}

[class$="preview-item"] {
  margin: 1em 0;
}

[class$="image"] {
  background-color: wheat;
  padding: 1.5em;
}

.basic-info {
  display: flex;
  flex-direction: column;
}

.pattern-title {
  font-size: 2em;
  text-decoration: underline;
}

.pattern-author .author {
  font-style: italic;
}

.materials-preview {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.yarn-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5em;
}

.yarn-preview-item,
.glossary-preview-item {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.glossary-term,
.step-rows {
  font-weight: bold;
  margin-right: 0.5em;
}

.section-heading {
  font-weight: bold;
}

.step-list {
  max-height: none;
}

.step-image {
  margin-bottom: 2em;
}

.preview-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.export-pattern {
  display: flex;
  align-items: center;
}

.export-pattern button {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.8em;
}

.use-pattern {
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--blue-color);
  color: inherit;
  border: none;
  border-radius: 0.35em;
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

.use-pattern:hover {
  opacity: 0.8;
}

.use-pattern:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}