.clear-list {
  width: 100%;
}

.pattern-list {
  width: 100%;
  max-height: 14em;
}

.pattern-list-item {
  grid-template-columns: 1fr 1fr 3em auto;
}

.pattern-list-item .pattern-title,
.pattern-list-item .pattern-author {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pattern-list-item.loaded {
  background-color: var(--light-purple-color);
}

.pattern-alert {
  font-size: 0.8em;
  padding-top: 0.5em;
  color: var(--invalid-color);
  display: flex;
  align-items: center;
}