main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

main h1 {
  margin: 0.25em;
  font-size: 2rem;
}

.preview-display {
  font-size: 1.25em;
}

.inner {
  padding: 2em;
  align-items: start;
}

[class$="preview-item"] {
  margin-top: 1em;
}

[class$="image"] {
  background-color: wheat;
  padding: 1.5em;
}

.basic-info {
  width: 100%;
  text-align: center;
}

.pattern-title {
  font-size: 2em;
  text-decoration: underline;
}

.pattern-author .author {
  font-style: italic;
}

.materials-preview h2 {
  margin-bottom: 0;
}

.hook-preview {
  display: flex;
}

.hook-preview-item {
  margin-right: 1em;
  padding: 0.5em;
  background-color: wheat;
  border: 0.2em solid var(--wheat-border);
  border-radius: 0.35em;
  white-space: nowrap;
}

.yarn-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
}

.yarn-preview-item,
.glossary-preview-item {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.glossary-term,
.step-rows {
  font-weight: bold;
  margin-right: 0.5em;
}

.section-heading {
  font-weight: bold;
  margin-top: 2em;
}

.step-list {
  max-height: none;
}

.step-image {
  padding: 4em 5em;
  margin-top: 1em;
}

.preview-options h1 {
  margin-left: 0;
}

.export-pattern h2 {
  margin: 0;
}

.export-pattern button {
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.8em;
}

.use-pattern {
  margin: 2em 0;
}

.use-pattern-button {
  font-size: 1.2em;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--blue-color);
  color: inherit;
  border: none;
  border-radius: 0.35em;
  box-shadow: -0.2em -0.2em inset var(--shadow-color);
  cursor: pointer;
}

.use-pattern:hover {
  opacity: 0.8;
}

.use-pattern:active {
  box-shadow: -0.1em -0.1em inset var(--shadow-color);
}

/* todo: fix borders/margins in printed pages */
@media print {
  header,
  .sidebar,
  .preview-heading,
  .preview-options {
    display: none;
  }
  main {
    display: block;
    padding: 0;
    margin: 0;
  }
  .inner {
    display: block;
  }
  [class$="preview-container"],
  .step-preview-item {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .hook-preview-item {
    display: inline-block;
  }
  .glossary-preview-item {
    display: block;
  }
  .glossary-image {
    display: inline-block;
  }
  .steps-preview-container {
    margin-top: 1cm;
    page-break-inside: auto;
    break-inside: auto;
  }
  .step-list {
    display: block;
  }
}