.cover-page {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-color);
}

[class$="popup"] {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: wheat;
  border: 0.5rem solid var(--wheat-border);
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem var(--shadow-color);
}

[class$="popup"] .popup-header {
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[class$="popup"] .after-form {
  margin: 0;
  padding: 0;
}

[class$="popup"] .close-button {
  padding: 0.25em;
  font-size: 1em;
  font-weight: bold;
  margin-top: -2em;
  margin-right: 0.5em;
  background-color: transparent;
  color: var(--invalid-color);
  box-shadow: none;
}

[class$="popup"] .close-button:hover {
  opacity: 0.5;
}

[class$="popup"] .close-button:active {
  opacity: 0.2;
}

.open-image-preview:hover {
  cursor: pointer;
}

.image-preview-popup {
  font-size: 1.5em;
}

.image-preview-popup h2 {
  margin-bottom: 0.5em;
}

.image-preview-inner {
  background-color: antiquewhite;
  margin: 0.5em;
  margin-bottom: -0.7em;
  padding: 0.5em;
}

.image-preview-content {
  width: 100%;
}